language: go

go:
  - 1.9.x
  - 1.11.x

install:
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin v1.12.5

script:
  - make install
  - make test
  - make lint
